body {
    /*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
    margin: 0px;
    /*background: #f4f4f4;*/
}
video {
    height: 100%;
    width: 100%;
}
/*button:hover,
button:active {
    color: #ffa6c3;
}
button {
    position: absolute;
    opacity:0;
    text-decoration: none;
    border: none;
    color: #FFF;
    cursor: pointer;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
}*/
.ad_button {
    position: absolute;
    opacity:0;
    text-decoration: none; /*removes underline*/
    border: none;
    color: #FFF;
    cursor: pointer;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 11px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
}
.ad_button:hover,
.ad_button:active {
    color: #ffa6c3;
}

.ad_button::before {
    content :'';
    position:absolute;
    top:0;
    left:0;
    width:100%; 
    height:100%;
    background-color: transparent;
    outline: #FFF 2px solid;
    transform: skew(-20deg );
    -o-transform: skew(-20deg );
    -ms-transform: skew(-20deg );
    -moz-transform: skew(-20deg );
    -webkit-transform: skew(-20deg );
    z-index:-1;
}
#clickthrough-button{
    z-index:2;
}
#btnCont{
    visibility: hidden;
}
#expand-button{
    width: auto !important;
    height: auto !important;
    padding: 3px 15px;
    bottom: 27px;
    left: 15px;
    right: 15px;
    z-index:3;
}
#discover-button{
    width: auto !important;
    height: auto !important;
    font-size: 11px;
    padding: 3px 19px;
    top: 100px;
    left: 15px;
    z-index:5;
    pointer-events: none;
}
#buy-button{
    width: auto !important;
    height: auto !important;
    font-size: 11px;
    padding: 3px 8px;
    top: 100px;
    right: 15px;
    z-index:6;
    pointer-events: none;
}
#close-button {
    position: absolute;
    background: transparent !important;
    opacity:1 !important;
    outline: none;
    
    text-decoration: none; /*removes underline*/
    border: none;
    color: #FFF;
    cursor: pointer;

    font-family: "Trebuchet MS", Helvetica, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    top: 5px;
    right: -20px;
    width: 74px;
    z-index:7;
}

#close-button:hover,
#close-button:active {
    color: #ffa6c3;
}

#ad_container {
    position: absolute;
    display: block;
    /*width: 298px;
    height: 598px;*/
    width: 100%;
    height: 100%;
    background-color: transparent;
}
#ad {
    position: relative;
    display: block;
    /*left: 0px;*/
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 54px;*/
    border: rgb(145, 153, 153) 1px solid;
    overflow: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#ad.collapsed {
    width: 158px;
    /*2px smaller to account for border*/
    height: 598px;
    /*2px smaller to account for border*/
}
#ad.expanded {
    width: 298px;
    /*2px smaller to account for border*/
    height: 598px;
    /*2px smaller to account for border*/
}
#banner {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    overflow: hidden;
}
#panel {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    /*background-color: #06a3ae;*/
    background-color: #cc3467;
    overflow: hidden;
}
/*#e_logo2bg{
    position: absolute;
    top: 0px;
    left: -360px;
    width: 300px;
    height: 100%;
    background-color: #cc3467;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}*/
/*#e_logo2{
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}*/
#c_logoBg{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:76px;
    background-color: #d16185;
}
#c_ctaBg{
    position: absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height:76px;
    background-color: #d16185;
}
#c_copyBg {
	position: absolute;
    top:188px;
    left:0px;
    width:100%;
    height:141px;
    background-color: #d16185;
	z-index:
}
#c_logo{
    position: absolute;
    display: block;
    bottom: 3px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
#c_bg {
    background-color: #cc3467;
}
.expanded #banner {
    /*display: none;*/
    visibility: hidden;
}
.collapsed #panel {
    /*display: none;*/
    visibility: hidden;
}
.collapsed video {
    /*display: none;*/
    visibility: hidden;
}
.expanded video {
    /*display: block;*/
    visibility: visible;
}
.ios-center-video-controls video::-webkit-media-controls {
    min-width: 0;
}

video::-webkit-media-controls-fullscreen-button {
    display: none;
}

.sdk .sdk-video-player {
    height: 100%;
    width: 100%;
    position: relative;
    background: url("../images/poster.jpg");
    background-size: cover;
}
.sdk .sdk-video-player-button {
    cursor: pointer;
    position: absolute;
    width: 55px;
    height: 55px;
    background: url("../images/play.png") no-repeat scroll 0px 0px;
    background-size: cover;
}
#video-container {
    /*position: absolute;*/
    opacity:0;
    height: auto;
    width: 100%;
    bottom: 185px;
    z-index:4;
}
.transparent{
    opacity: 0;
}
.opaque{
    opacity: 1;
}
.index{
    z-index:1;
}
.centered {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
}
.pos{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px !important;
    left: 0px !important;
}
.fadeInLeft{
    -webkit-animation: fadeInLeft .5s ease-out 0s 1 normal; 
    -moz-animation: fadeInLeft .5s ease-out 0s 1 normal;
    -ms-animation: fadeInLeft .5s ease-out 0s 1 normal;
    -o-animation: fadeInLeft .5s ease-out 0s 1 normal;
    animation: fadeInLeft .5s ease-out 0s 1 normal;

    -webkit-animation-fill-mode: forwards; 
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInLeft {
  0% { opacity:0; -webkit-transform: rotate(0)  skew(0) translate(-150px, 0); }
  100% { opacity:1; -webkit-transform: rotate(0)  skew(0) translate(0, 0); }
}

@-moz-keyframes fadeInLeft {
  0% { opacity:0; -moz-transform: rotate(0)  skew(0) translate(-150px, 0); }
  100% { opacity:1; -moz-transform: rotate(0)  skew(0) translate(0, 0); }
}

@-ms-keyframes fadeInLeft {
  0% { opacity:0; -ms-transform: rotate(0) skew(0) translate(-150px, 0); }
  100% { opacity:1; -ms-transform: rotate(0) skew(0) translate(0, 0); }
}

@-o-keyframes  fadeInLeft {
  0% { opacity:0; -o-transform: rotate(0) skew(0) translate(-150px, 0); }
  100% { opacity:1; -o-transform: rotate(0) skew(0) translate(0, 0); }
}

.fadeInRight{
    -webkit-animation: fadeInRight .5s ease-out 0s 1 normal; 
    -moz-animation: fadeInRight .5s ease-out 0s 1 normal;
    -ms-animation: fadeInRight .5s ease-out 0s 1 normal;
    -o-animation: fadeInRight .5s ease-out 0s 1 normal;
    animation: fadeInRight .5s ease-out 0s 1 normal;

    -webkit-animation-fill-mode: forwards; 
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInRight {
  0% { opacity:0; -webkit-transform: rotate(0)  skew(0) translate(150px, 0); }
  100% { opacity:1; -webkit-transform: rotate(0)  skew(0) translate(0, 0); }
}

@-moz-keyframes fadeInRight {
  0% { opacity:0; -moz-transform: rotate(0)  skew(0) translate(150px, 0); }
  100% { opacity:1; -moz-transform: rotate(0)  skew(0) translate(0, 0); }
}

@-ms-keyframes fadeInRight {
  0% { opacity:0; -ms-transform: rotate(0) skew(0) translate(150px, 0); }
  100% { opacity:1; -ms-transform: rotate(0) skew(0) translate(0, 0); }
}

@-o-keyframes  fadeInRight {
  0% { opacity:0; -o-transform: rotate(0) skew(0) translate(150px, 0); }
  100% { opacity:1; -o-transform: rotate(0) skew(0) translate(0, 0); }
}

.fadeIn{
    -webkit-animation: fadeIn .5s ease-out 0s 1 normal; 
    -moz-animation: fadeIn .5s ease-out 0s 1 normal;
    -ms-animation: fadeIn .5s ease-out 0s 1 normal;
    -o-animation: fadeIn .5s ease-out 0s 1 normal;
    animation: fadeIn .5s ease-out 0s 1 normal;

    -webkit-animation-fill-mode: forwards; 
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
  0% { opacity:0; -webkit-transform: rotate(0)  skew(0) translate(0, 0); }
  100% { opacity:1; -webkit-transform: rotate(0)  skew(0) translate(0, 0); }
}

@-moz-keyframes fadeIn {
  0% { opacity:0; -moz-transform: rotate(0)  skew(0) translate(0, 0); }
  100% { opacity:1; -moz-transform: rotate(0)  skew(0) translate(0, 0); }
}

@-ms-keyframes fadeIn {
  0% { opacity:0; -ms-transform: rotate(0) skew(0) translate(0, 0); }
  100% { opacity:1; -ms-transform: rotate(0) skew(0) translate(0, 0); }
}

@-o-keyframes  fadeIn {
  0% { opacity:0; -o-transform: rotate(0) skew(0) translate(0, 0); }
  100% { opacity:1; -o-transform: rotate(0) skew(0) translate(0, 0); }
}

.fadeOut{
    -webkit-animation: fadeOut .5s ease-out 0s 1 normal; 
    -moz-animation: fadeOut .5s ease-out 0s 1 normal;
    -ms-animation: fadeOut .5s ease-out 0s 1 normal;
    -o-animation: fadeOut .5s ease-out 0s 1 normal;
    animation: fadeOut .5s ease-out 0s 1 normal;

    -webkit-animation-fill-mode: forwards; 
    animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
  0% { opacity:1; -webkit-transform: rotate(0)  skew(0) translate(0, 0); }
  100% { opacity:0; -webkit-transform: rotate(0)  skew(0) translate(0, 0); }
}

@-moz-keyframes fadeOut {
  0% { opacity:1; -moz-transform: rotate(0)  skew(0) translate(0, 0); }
  100% { opacity:0; -moz-transform: rotate(0)  skew(0) translate(0, 0); }
}

@-ms-keyframes fadeOut {
  0% { opacity:1; -ms-transform: rotate(0) skew(0) translate(0, 0); }
  100% { opacity:0; -ms-transform: rotate(0) skew(0) translate(0, 0); }
}

@-o-keyframes  fadeOut {
  0% { opacity:1; -o-transform: rotate(0) skew(0) translate(0, 0); }
  100% { opacity:0; -o-transform: rotate(0) skew(0) translate(0, 0); }
}

.sliderA{
    -webkit-animation: sliderA 1s ease-out 0s 1 normal; 
    -moz-animation: sliderA 1s ease-out 0s 1 normal;
    -ms-animation: sliderA 1s ease-out 0s 1 normal;
    -o-animation: sliderA 1s ease-out 0s 1 normal;
    animation: sliderA 1s ease-out 0s 1 normal;

    -webkit-animation-fill-mode: forwards; 
    animation-fill-mode: forwards;
}

@-webkit-keyframes sliderA {
  0% { opacity:1; -webkit-transform: rotate(0)  skew(0) translate(0, 120px); }
  100% { opacity:1; -webkit-transform: rotate(0)  skew(0) translate(0, 0); }
}

@-moz-keyframes sliderA {
  0% { opacity:1; -moz-transform: rotate(0)  skew(0) translate(0, 205px); }
  100% { opacity:1; -moz-transform: rotate(0)  skew(0) translate(0, 0); }
}

@-ms-keyframes sliderA {
  0% { opacity:1; -ms-transform: rotate(0) skew(0) translate(0, 205px); }
  100% { opacity:1; -ms-transform: rotate(0) skew(0) translate(0, 0); }
}

@-o-keyframes  sliderA {
  0% { opacity:1; -o-transform: rotate(0) skew(0) translate(0, 205px); }
  100% { opacity:1; -o-transform: rotate(0) skew(0) translate(0, 0); }
}
/*#e_logo1bg{
    position:absolute;
    background-color: #35b5bd;
    width:100%;
    height:83px;
    top:0;
    left:0;
}*/

#e_logo{
    opacity:0;
}
#e_badge{
    position: absolute;
    top: -25px;
    left: -50px;
    opacity:0;
}
#e_pack{
    position: absolute;
    visibility: hidden;
    opacity: 1;
    bottom:-140px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.packAnim{
    visibility: visible !important;
    bottom:0px !important;
    -webkit-transition: all 1s 0s ease-out;
    -moz-transition: all 1s 0s ease-out;
    -ms-transition: all 1s 0s ease-out;
    -o-transition: all 1s 0s ease-out;
    transition: all 1s 0s ease-out;
}
#e_bg1{
    opacity:1;
}
#e_bg2{
    opacity:0;
}
#e_panelTop{
 	position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:163px;
    background-color: #d16185;
}
#e_panelBottom{
 	position: absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height:90px;
    background-color: #d16185;
}
#e_left{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: -577px;
    top: 0px;
    opacity:1;
    background-repeat: no-repeat;
}
#e_left img{
    width:100%;
    display: block;
}
#e_right{
    position: absolute;
    opacity:0;
    height:100%;
    width:400px;
    left:0px;
    bottom:0px;
    background-repeat: no-repeat;
}
/*#e_right img{
    width:400px;
    height: auto;
    display: block;
}*/
/*.show {
    right: -95px !important;
    opacity: 1 !important;
    -webkit-transition: all .8s 0s ease-out;
    -moz-transition: all .8s 0s ease-out;
    -ms-transition: all .8s 0s ease-out;
    -o-transition: all .8s 0s ease-out;
    transition: all .8s 0s ease-out;
}
.show2 {
    left: -577px !important;
    opacity: 1 !important;
    -webkit-transition: all .8s 0s ease-out;
    -moz-transition: all .8s 0s ease-out;
    -ms-transition: all .8s 0s ease-out;
    -o-transition: all .8s 0s ease-out;
    transition: all .8s 0s ease-out;
}*/
.show3 {
    left: -70px !important;
    -webkit-transition: all 1s .2s ease-in-out;
    -moz-transition: all 1s .2s ease-in-out;
    -ms-transition: all 1s .2s ease-in-out;
    -o-transition: all 1s .2s ease-in-out;
    transition: all 1s .2s ease-in-out;
}
.scale {
    bottom: -5px !important;
    right: 0px !important;
    width: 100% !important;
    height: auto !important;
    -webkit-transition: all 1s .2s ease-in-out;
    -moz-transition: all 1s .2s ease-in-out;
    -ms-transition: all 1s .2s ease-in-out;
    -o-transition: all 1s .2s ease-in-out;
    transition: all 1s .2s ease-in-out;
}
.hide {
    top: -45px !important;
    -webkit-transition: all .5s 0s ease-in;
    -moz-transition: all .5s 0s ease-in;
    -ms-transition: all .5s 0s ease-in;
    -o-transition: all .5s 0s ease-in;
    transition: all .5s 0s ease-in;
}
.hide2 {
    left: -720px !important;
    opacity: 0 !important;
    -webkit-transition: all .5s 0s ease-in;
    -moz-transition: all .5s 0s ease-in;
    -ms-transition: all .5s 0s ease-in;
    -o-transition: all .5s 0s ease-in;
    transition: all .5s 0s ease-in;
}
.hide3 {
    left: -170px !important;
    opacity: 0 !important;
    -webkit-transition: all .5s 0s ease-in;
    -moz-transition: all .5s 0s ease-in;
    -ms-transition: all .5s 0s ease-in;
    -o-transition: all .5s 0s ease-in;
    transition: all .5s 0s ease-in;
}